<div class="faker">
  <h3>Faker Generated Games: <%= FakeGame.count %></h3>
  <br>
    <% @fake_games.each do |fake_game| %>
      <ul>
        <li><span><%= fake_game.title %></span></li>
        <li>Genre: <%= fake_game.genre %></li>
        <li>Platform: <%= fake_game.platform %></li>
        <li>&nbsp;</li>
      </ul>
    <% end %>
  <%= paginate @fake_games %>
</div>