<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h2 class="navbar-text">PC Game Sales</h2><br>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <span class="navbar-text"><%= link_to "Home", games_path %></span>
        </li>
        <li class="nav-item">
          <span class="navbar-text"><%= link_to "Games", game_sales_path %></span>
        </li>
        <li class="nav-item">
          <span class="navbar-text"><%= link_to "Faker", faker_games_path %></span>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search By Game Title" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="faker">
  <h1>Faker Generated Games</h1>
  <br>
  <% @fake_games = FakeGame.order("title ASC").each do |fake_game| %>
    <h3><%= fake_game.title %> - <%= link_to "Show More Info", show_path %></h3>
    <p>Genre: <%= fake_game.genre %></p>
    <p>Platform: <%= fake_game.platform %></p>
  <% end %>
</div>