<p style="color: green"><%= notice %></p>

<%= render @fake_game %>

<div>
  <%= link_to "Edit this fake game", edit_fake_game_path(@fake_game) %> |
  <%= link_to "Back to fake games", fake_games_path %>

  <%= button_to "Destroy this fake game", @fake_game, method: :delete %>
</div>
