<div id="<%= dom_id game %>">
  <p>
    <strong>Title:</strong>
    <%= game.title %>
  </p>

  <p>
    <strong>Sale price:</strong>
    <%= game.sale_price %>
  </p>

  <p>
    <strong>Normal price:</strong>
    <%= game.normal_price %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= game.release_date %>
  </p>

  <p>
    <strong>Steam rating percent:</strong>
    <%= game.steam_rating_percent %>
  </p>

  <p>
    <strong>Steam rating count:</strong>
    <%= game.steam_rating_count %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= game.image %>
  </p>

</div>
