<div class="sale">
  <h3>Games Currently On Sale: <%= Game.count %></h3>
  <br>
  <% @games.each do |game| %>
    <ul>
      <li><span><%= game.title %></span> - <%= link_to "Show", game %></li>
      <li>Savings: <%= number_with_precision(game.savings, precision: 1) %>%</li>
      <% if (game.steam_rating_percent > 0) %>
        <li>Steam Rating: <%= game.steam_rating_percent %>%</li>
      <% end %>
      <% if (game.steam_rating_count > 0) %>
        <li>Steam Rating Count: <%= game.steam_rating_count %></li>
      <% end %>
      <li>&nbsp;</li>
    </ul>
  <% end %>
<%= paginate @games %>
</div>
